.table .thead-dark th {
    background-color: #32373c;
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;
    font-weight: bold;
}

.tbdy {
    font-size: 14px;
    color: #fff;
}

td {
    border-radius: 4px;
    padding: 5px;
    text-align: center;

}
.pluginheading{
     font-weight: bold;
    margin-top: 20px;
    font-size: 1.9rem;
    margin-bottom: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  
  }
  
  .stats-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .stats-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .stat-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .stat-card:hover {
    transform: scale(1.05);
  }
  
  .stat-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #0073aa;
  }
  
  .stat-content h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .stat-content p {
    font-size: 24px;
    color: #333;
    margin: 5px 0 0;
  }

h1 {
    text-align: center;
    margin: 20px;
}

select#plgstatus {
    display: inline;
    max-width: 10rem;
}

#plgstatus {
    margin: 5px;
}

/* Add custom CSS for responsiveness */
.table-responsive {
    overflow-x: auto;
}


/* Adjust table appearance */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

/* Adjust colors based on status */
.tbdy {
    color: #fff;
}

.tbdy td,
.tbdy th {
    border: 1px solid #dee2e6;
}

.tbdy th {
    background-color: #6c757d;
}

.tbdy:nth-child(odd) {
    background-color: #28a745;
}

.tbdy:nth-child(even) {
    background-color: #dc3545;
}


p.pheading {
    font-size: 20px;
    font-weight: 700;
}


.tnip {
  display: flex;
  justify-content: space-between; /* left vs right */
  align-items: center;
  margin: 10px 0;
}

.pcc-left {
  display: flex;
  align-items: center;
  gap: 8px; /* space between label and dropdown */
}

.pcc-button-group {
  display: flex;
  gap: 10px; /* space between buttons */
}

.pcc-button-group .button {
  background-color: #2271b1;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#exportButton:hover {
    color: white;
    background-color: #135e96;
}
#pcc-rescan:hover {
    color: white;
    background-color: #135e96;
}

table.sysinfo {
    margin: 10px 10px 10px 10px;
    display: inline-flex;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    white-space: break-spaces;
}

  td.tdstyle {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.filter {
    margin-right: 10px !important;
    float: left;
    margin-top: 10px;
}


.fltr {
    margin-right: 20px !important;
}

img#iconclass {
    height: 2em !important;
    width: 2em !important;
}
